#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.user-input {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-input > div {
    display: flex;
    margin-bottom: 8px;
}
.user-input span {
    width: 40px;
    height: 40px;
    margin: 0 4px;
    border: solid 2px #333;
    background-color: white;
    font-size: 32px;
    box-sizing: border-box;
    text-align: center;
    line-height: 36px;
    user-select: none;
    transition: .3s;
}
.user-input span.not-found {
    background-color: darkgray;
}
.user-input span.exist {
    background-color: darkgoldenrod;
}
.user-input span.right-position {
    background-color: greenyellow;
}